*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    background-color: #191926;
    
    width: calc((100% - 15%));
    margin: 0 auto;
} */

body{
    background-color: #ffff;
   
    

    &::before {
        content: "";
        
        background-color: #EFF3F9;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 230px;
        z-index: -1;
    }
}

.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
    padding: 2rem 0;
    /* align-items: center;
    text-align: center ; */

}
.nav-logo{
    margin-left: 1.5rem;
}

.Switcher{
    display: flex;  
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.Switcher i{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 34%;
    left: 91%;
}



.box{
    background-color: #EFF3F9;
}

/* .boxex{
    background-color: #252A41;
} */

@media screen and (max-width: 467px){
    .nav-bar .Switcher{
        margin-left: 1.5rem;
        border-top: 2px solid grey;
        padding: 15px 0px;
    }

    .nav-bar .Switcher i{
        position: absolute;
        margin-top: 2.5rem;
    }
}
.bi-moon{
    color: black;
}