*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    background-color: #191926;
    
    width: calc((100% - 15%));
    margin: 0 auto;
} */

header{
    background-color: #ffff !important;
    position: relative;
    

    &::before {
        content: "";
        /* background-color: #191926; */
        background-color: #EFF3F9;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 230px;
        z-index: -1;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
    padding: 2rem 0;
    /* align-items: center;
    text-align: center ; */

}
.nav-logo{
    margin-left: 1.5rem;
}

.Switcher{
    display: flex;  
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.Switcher i{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 34%;
    left: 91%;
}



.box{
    background-color: #EFF3F9;
}

/* .boxex{
    background-color: #252A41;
} */